<div class="postaControl">
	<div class="postaTitle">
		<%= @user.name %>
	</div>
	
	<div class="postaData" aling="center">
	</div>
</div>

	<% @posts.reverse.each do |a_post|%>
	<%= render :partial => "layouts/posts_list", :locals => {:post => a_post} %>
	<% end %>
<%= link_to "#{t 'general.edit'}", edit_user_path(@user) %> |
<%= link_to "#{t 'general.back'}", users_path %> WHAT TO DO WITH THEM??
