

<% Post.all.reverse.each do |post|%>
<div id="hidden">
	<div class="leftPosts">
		<%= link_to image_tag(post.image.url(:large), :class => 'displayed'), post %>
	</div>
	<div class="rightPosts">
		<h2><%= post.title %></h2>
		<%= post.image_updated_at %>
	</div>
</div>
<hr> 
<% end %>