
<div id="hidden">
<% @posts.each do |post|%>
	<div class="leftPosts">
		<%= image_tag(post.image.url(:large)) %>
		</div>
	<div class="rightPosts">
		<h2><%= post.title %></h2>
	</div>
	<div>
	<hr> 
	</div>
<% end %>
</div>
