<% Post.all.reverse.each do |post|%>
<div id="hidden">
	<div class="leftPosts">
		<%= link_to image_tag(post.image.url(:large), :class => 'displayed'), post %>
	</div>
	<div class="rightPosts">
		<h2><%= post.title %></h2>
		<%= distance_of_time_in_words(Time.now, post.created_at) + " ago" %><br />
		<%= link_to post.user.name, user_path(post.user) %>
	</div>
</div>
<hr> 
<% end %>