.container{
	width: 710px;
}

#menu{background:#383838; border:#1E1E1E 1px solid; padding:10px 0px 10px 0px;}
.normal {
font-size:16px; color:#fff; 
padding:10px 30px 10px 30px; 
border:#1E1E1E 1px solid; 
text-decoration:none;
}
.hover {
background-color:#055F7C;
font-size:16px; color:#FFF;
padding:10px 30px 10px 30px; 
border:#1E1E1E 1px solid; 
text-decoration:none;
}

body {
	background: #eee;
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
}

/* Links */

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
	text-decoration: none;
}
