/* ~:::::: General ::::::~ */
body {background: #578690;}
a {
	color:#999;
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration: none;
	background:none;
	-moz-transition: color .2s linear; /* for gecko based like firefox*/
	-webkit-transition: color .2s linear; /* for  chrome safari ... */
	-o-transition: color .2s linear; /* for opera*/
	transition: color .2s linear; /* for IE*/
	font-size: 14px;	
}
a:hover {color: #DDD; background:none;}
a:active {color:#09F;} /* when the link is clicked */
p {
	font-size: 14px;
	font-family:Tahoma, Geneva, sans-serif;
}


/* ~:::::: Header ::::::~ */
header {
	background:#111;
	border:#333 2px solid; 
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
}
.wraper {
	margin:auto;
	width: 960px;
	position:relative;
}
.nav {float: left;}
.nav img {
	vertical-align:middle;
	margin-left: -20px;	
	margin-right: -20px;	
}
.userControl {float: right;}
.wraper a {
	border-left: #333 1px solid; 
	border-right: #333 1px solid;
	font-size: 15px;
	box-shadow: -1px 0 #666 inset;
    -moz-box-shadow: -1px 0 #666 inset;
    -webkit-box-shadow: -1px 0 #666 inset;
	padding: 22px;
	line-height: 4em;
}
.wraper p {text-align:center;}


/* ~:::::: Footer ::::::~ */
.footer {
	-moz-border-radius:	7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;	
	background:#FFF;
	line-height: 4em;
	height: 50px;
	color: #222;
	width: 960px;
	margin: auto;
	text-align:center;
	-moz-box-shadow: inset 0 0 7px #888;
	-webkit-box-shadow: inset 0 0 7px #888;
	box-shadow: inset 0 0 7px #888;
}
.footer p {
	display: inline;
	padding-left: 2.5%;
	padding-right: 2.5%;
}


/* ~:::::: Notice ::::::~ */
#notices {
	background:#15626e;
	border:2px solid #15626e;
	-moz-border-radius:	7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: inset 0 0 20px #64bdcb;
	-webkit-box-shadow: inset 0 0 20px #64bdcb;
	box-shadow: inset 0 0 20px #64bdcb;
	color: #FFF;
	width: 960px;
	margin: auto;
	margin-top: 50px;
	text-align:center;
}

/* ~:::::: Container ::::::~ */
.container {
	margin-top: 4%;
	width: 960px;
	background: #fff;
	-moz-border-radius:	7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: inset 0 0 7px #888;
	-webkit-box-shadow: inset 0 0 7px #888;
	box-shadow: inset 0 0 7px #888;
}

/* ~:::::: Weclome ::::::~ */
#hidden {
	overflow:hidden;
}
.leftPosts {
	width: 660px;
	float:left;
}
.rightPosts a {color:#009EE6;}
img {border: 0px;}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 1%;
	margin-bottom: 3%;
}
hr {
	width: 80%;
	clear: both;
	border: none;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #DDD;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
}
.rightPosts {
	float:left;
	margin-top: 1%;
	position: static;
	top: 50px;
}
.swim {
	position: fixed;
	top: 8%;
	right: 26.9%;
	float:left;
	padding: 1%;
	/*border:2px solid #222;
	-moz-border-radius:	7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: inset 0 0 7px #888;
	-webkit-box-shadow: inset 0 0 7px #888;
	box-shadow: inset 0 0 7px #888;*/
}

/* ~:::::: Posts ::::::~ */
.postaControl {
	background: #111;
	-moz-border-radius:	7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin-top: -18px;
}
.postaTitle {
	color:#FFF;
	padding: 20px 0px 0px 20px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
}
.postaData {
	color:#CCC;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
}
.postaData a {
	color:#009EE6;
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
}
.postaData a:hover {
	color:#00AFFF;
}
#social {
	background:#333;
	border:#333 1px solid; 
	-moz-border-radius:	7px;
	-webkit-border-radius: 7px;
	border-radius: 2px;
	-moz-box-shadow: inset 0 0 40px #000;
	-webkit-box-shadow: inset 0 0 40px #000;
	box-shadow: inset 0 0 40px #000;
	color:#FFF;
	
	line-height:4em;
	width: 958px;
}
#postaPic {
	margin-top: 50px;
	margin-bottom: 50px;
}
.postaCosta {
	float: left;
}
.postaOptions {
	float: left;
	height: 30px;
	margin: 30px;
}
#report {
	padding-right: 20px;
	padding-top: 10px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#C00;
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
}
a:hover #report {
	color: #F03;
}


/* ~:::::: Facebook ::::::~ */
.comments {
	padding: 20px;
	font-family:Tahoma, Geneva, sans-serif;
}



/* ~:::::: Up-Arrow ::::::~ */
#back-top {
	position: fixed;
	bottom: 30px;
	right: 350px;
}
#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Tahoma, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #333;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #111;
}
/* arrow icon (span tag) */
#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;
	background: #333 url(up-arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #111;
}


/* ~:::::: Sign ::::::~ */
.sign {
	padding: 20px;
	width: 25%;
    margin: 0px auto;
}
h2 {
	text-align:center;	
}

