.container {
  text-align: center;
  background-color: #fff;
  -webkit-border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
}
.shibshib-logo {
  margin:0;
  padding:0;
}
.notes {
  width: 940px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.nav {
  height: 50px;
}

.row {
  text-align: center;
}

.btn-group {
  display: inline-block;
}

.navbar .nav > li > a {
  line-height: 40px;
}
.herp {
  width: 30%;
  margin-left:auto;
  margin-right:auto;
}
.pad-sides {
  padding-left: 15px;
  padding-right: 15px;
}

.center {
  text-align: center;
}

ul.shareLinks { width: 250px; margin: auto; overflow: hidden; }
ul.shareLinks li { list-style: none; margin: auto; padding: 4px; float: left;}

#vote-up {
  margin-right: 50px;
  margin-left: 30px;
}
#back-top {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  clear: both;
}
#back-top a {
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color .7s;
  -moz-transition: background-color .7s;
  -o-transition: background-color .7s;
  transition: background-color .7s;
}
#back-top a:hover {
  color: #615349;
}
#back-top em {
  font: normal 12px/100% "Lucida Grande", Arial, "Lucida Sans Unicode", sans-serif;
  letter-spacing: 1px;
  float: right;
}
#back-top span {
  width: 28px;
  height: 28px;
  background: url(/assets/nav-icons.png) no-repeat -8px -577px;
  background-color: rgba(255,255,255,1);
  display: block;
  float: right;
  cursor: pointer;
  margin: -8px 0 0 6px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
#back-top a:hover span {
  background-color: #615349;
}

.fb-like {
  width: 40px;
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
display: none !important;
margin: 0px;
padding: 0px;
width: 60px;
}

.fan_box a:hover{
  text-decoration: none;
}
.fan_box .full_widget{
  height: 60px;
  border: 0 !important;
  background: none !important;
  position: relative;
  padding: 2px;
}
.fan_box .connect_top{
  background: none !important;
  padding: 0 !important;
}
.fan_box .connect_action{
  padding: 0 !important;
}
.fan_box .connections{
  padding: 0 !important;
  border: 0 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #666;
}
span.total{
  color: #3889ce;
  font-weight: bold;
}
.fan_box .name_block{
  color: #3889ce;
}

.follow {
top:50%; margin-top:-30px;
}

a.report,a.report:hover,a.report:active {
  color: #e45752;
  font-size: 9px;
}
a.title,a.title:active {
  color: #222222;
}
a.title:hover {
  color: #bbbbbb;
  text-decoration: none;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}
* {
  font-family: Tahoma, Geneva, sans-serif;
}

.text {
  font-size: 20px;
  margin: 15px;
  line-height:110%;
}
.RTL {
  direction:RTL;
  unicode-bidi:embed;
}

#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}