<% if (I18n.locale.to_s == "ar") %>
  <p>مرحباً <%= @resource.name %>!</p>
  <p>يمكنك تأكيد عضويتك من خلال الرابط التالي:</p>
  <p><%= link_to 'تفعيل العضوية', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<% elsif (I18n.locale.to_s == "en") %>
  <p>Welcome <%= @resource.name %>!</p>
  <p>You can confirm your account through the link below:</p>
  <p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<% end %>





