<% if (I18n.locale.to_s == "ar") %>
  <p>!<%= @resource.name %> أهلاً</p>
  <p>:شخص ما طلب رابطاً لاسترجاع كلمة السر الخاصة بك، ويمكن ذلك من خلال الرابط التالي</p>
  <p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
  <p>.يمكنك تجاهل هذا البريد إن لم يكن ذاك الشخص هو أنت</p>
  <p>.كلمة السر الخاصة بك لن تتغيّر ما لم تضغط على الرابط وتستبدلها بواحدة جديدة</p>

<% elsif (I18n.locale.to_s == "en") %>
  <p>Hello <%= @resource.name %>!</p>
  <p>Someone has requested a link to change your password, and you can do this through the link below.</p>
  <p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>

<% end %>



