 ﻿<div class="footer">
 
<div id="about">
	<a href="/">
	<p>About us ● عنا نحن</p>
	</a>
</div>
	
	<div id="faq">
	<a href="/">
	<p>FAQs ● أسئلة متكررة</p>

</a>	</div>
	
	<div id="contact">
	<a href="/">
	<p>Contact us ● راسلنا</p>
</a>	</div>
	
</div>