<div class="footer">

	<div id="about">
	<%= link_to root_path do %>
	<p>About us ● عنا نحن</p>
	<% end %>
	</div>
	
	<div id="faq">
	<%= link_to root_path do %>
	<p>FAQs ● أسئلة متكررة</p>
	<% end %>
	</div>
	
	<div id="contact">
	<%= link_to root_path do %>
	<p>Contact us ● راسلنا</p>
	<% end %>
	</div>
	
</div>