 ﻿<div class="footer">
	 ﻿<div id="links">
	<a href="/"><p><%= t 'footer.about' %></p></a>
	</div>
	<div id="links">
	<a href="/"><p><%= t 'footer.faq' %></p></a>
	</div>
	<div id="links">
	<a href="/"><p><%= t 'footer.contact' %></p></a>
	</div>
</div>