<div class="footer">
	<%= link_to root_path do %>
	<p>عنا نحن<br/>About us</p>
	<% end %>
	
	<%= link_to root_path do %>
	<p>أسئلة متكررة<br/>FAQs</p>
	<% end %>
	
	<%= link_to root_path do %>
	<p>راسلنا<br/>Contact us</p>
	<% end %>
</div>