<div id="notices">
	<% flash.each do |key, message| %>
	  <div class="<%= key %>"><%= message %><span style="float:right;"><%= link_to_function 'X', "$('.#{key}').fadeOut()" %></span></div>
	<% end %>
</div>